

*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

h1{
  width: fit-content;
  margin: 5% 10%;
  border: solid 2px;
  padding: 2px 8px;
  font-style: italic;
  font-weight: bolder;
  color: #118ab2;
}

.hero{
  width: 80%;
  height: 80%;
  margin: 0 10%;
}

.tab-box{
  display: flex;
  border-bottom: 1px solid #ef476f;
}

.tab-box button{
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  margin-right: 50px;
  font-size: 20px;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.item-left-container {
  flex-basis: 50%;
  padding: 5% 0;
  padding-left: 16px;

}

.item-right-container {
  flex-basis: 50%;
  text-align: center;
}
.input-form{
  width: 100%;
}

.input-form input{
  outline: none;
  width: 300px;
  height: 30px;  
  font-size: 20px;
  border: none;
  padding-bottom: 2px;
  border-bottom: 2px solid #00b4d8;
}

.result{
  font-size: 20px;
  padding: 20px 0;
}

.verify{
  margin-left: 20px;
  height: 30px;  
  width: 100px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background-color: #ffd166;
}

.verify:disabled{ 
  outline: none;
  background-color: rgb(182, 186, 190);
  color: black;
}

.verify:focus{ 
  outline: none;
}

img{
  width: 50%;
  height: 50%;
  object-fit: cover;
  padding-top: 5%;
}